body {
    padding-bottom: 15%;
}

footer {
    background-image: linear-gradient(to right, #0f2d37, #d70080); 
    position: fixed; 
    /* padding: 3px 3px 0px 10px;  */
    bottom: 0;
    height: 10%;
    width: 100%;
}