body {
  /* padding-bottom: 15%; */
  height: 100vh;
}

footer {
  background-image: linear-gradient(to right, #0f2d37, #d70080);
  position: relative;
  bottom: 0;
  height: 10%;
  width: 100%;
}

#login-container,
#signup-container {
  display: flex;
  border-style: solid;
  border-radius: 15px;
  background-color: rgba(57, 202, 221, 0.5);
  max-width: 500px;
  height: 70vh;
  margin: auto;
}

#login-form,
#signup-form {
  margin: auto;
  max-width: 500px;
  padding: 20px;
}

section {
  height: 85vh;
}

.home-container {
  margin-bottom: 20px;
  width: 80vh;
  height: 80vh;
  overflow: scroll;
}

.registration-containers {
  border-style: solid;
  border-radius: 15px;
  background-color: rgba(203, 225, 228, 0.5);
  /* max-width: 1500px; */
  height: auto;
  margin: auto;
}

.registration-container {
  display: none;
}

.registration-form {
  margin: auto;
  padding: 20px;
}

.border1 {
  border: 1px solid black;
}

.row {
  margin: 3px;
  /* padding: 8px; */
}

.col {
  margin: 3px;
  /* padding: 8px; */
}

hr {
  border-top: 1px dashed black;
}

.profile-pic-div{
    height: 150px;
    width: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

input {
  margin: 5px;
}