* {
  box-sizing: border-box;
}

body {
  /* padding-bottom: 15%; */
  height: 100vh;
}

footer {
  background-image: linear-gradient(to right, #0f2d37, #d70080);
  position: relative;
  bottom: 0;
  height: 10%;
  width: 100%;
}

#login-container,
#signup-container {
  display: flex;
  border-style: solid;
  border-radius: 15px;
  background-color: rgba(57, 202, 221, 0.5);
  max-width: 50vh;
  height: 70vh;
  margin: auto;
}

#login-form,
#signup-form {
  margin: auto;
  max-width: 50vh;
  padding: 20px;
}

section {
  height: 85vh;
}

.home-container {
  margin-bottom: 20px;
  width: 80vh;
  height: 80vh;
  overflow: scroll;
}

.registration-containers {
  border-style: solid;
  border-radius: 15px;
  background-color: rgba(203, 225, 228, 0.5);
  /* max-width: 1500px; */
  height: auto;
  margin: auto;
}

.registration-container {
  display: none;
}

.registration-form {
  margin: auto;
  padding: 20px;
}

.border1 {
  border: 1px solid black;
}

.row {
  margin: 3px;
  /* padding: 8px; */
}

.col {
  margin: 3px;
  /* padding: 8px; */
}

hr {
  border-top: 1px dashed black;
}

.profile-pic-div{
    height: 150px;
    width: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

input {
  margin: 5px;
}

.required:after {
    content:" *";
    color: red;
  }
  
/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
  --color-primary: #0a0a0a;
  --color-primary-2: #f729c3;
  --color-success: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: #ff92e4;
  --color-light2: #ffb8f3;
  --color-primary-variant: #677483;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

a{
  color: var(--color-dark);
  text-decoration: none;
  font-size: 20px;
 
}
              /* -----------------------ADMIN-DASHBOARD ----------------------- */
#dashboard{
  display: grid;
  width: 96%;
  margin: 0 20px;
  gap: 2rem;
  grid-template-columns: 14rem auto 26rem;
}

    /* ASIDE */
aside{
  height: 100vh;
}

aside .close{
  display: none;
}

aside .sidebar{
  margin-left: 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside .sidebar a{
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span{
  font-size: 1.6rem;
  transition: all 300ms ease;
}

#items-dashboard{
  font-style: normal;
  font-size: 18px;
}

aside .sidebar a:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active{
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before{
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary-2);
}

aside .sidebar a.active span{
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
  color: var(--color-primary);
}

aside .sidebar a:hover span{
  margin-left: 1.3rem;
}

/* ACTIVE INSIDE MESSAGE */
aside .sidebar a.active-msg{
  background: var(--color-light);
  color: var(--color-primary);
  margin-top: 3px;
  margin-left: 20px;
}

aside .sidebar a.active-msg:before{
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary-2);
}

aside .sidebar a.active-msg span{
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a.active-msg:hover span{
  margin-left: 2rem;
}
/* NONE ACTIVE INSIDE MESSAGE */
aside .sidebar a.active-msg1{
  margin-top: 3px;
  margin-left: 20px;
}

aside .sidebar a.active-msg1:before{
  content: "";
  width: 6px;
  height: 100%;
}

aside .sidebar a.active-msg1 span{
  margin-left: calc(1rem - 3px);
}

aside .sidebar a.active-msg1:hover span{
  margin-left: 2rem;
}

/* MAIN */

main {
  margin-top: 1.4rem;
}

main .date-dashboard{
  display: inline-block;
  background: var(--color-light2);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

main .date-dashboard input[type="date"] {
  color: var(--color-dark);
  background: transparent;
}

main .insights {
 padding: 10px;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 1.2rem;
}

main .insights > div{
  background: var(--color-light2);
  width: auto;
  text-align: center;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 2rem;
  box-shadow: none;
  transition: all 300ms ease;
}

main .insights > div:hover{
  box-shadow: var(--box-shadow);
}

main .insights > div span{
  background: var(--color-primary-2);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-dark);
  font-size: 2rem;
}

/*RECENT REGISTRANTS  */
main .recent-updates{
  margin-top: 5rem;
  padding: 9px;
}

main .recent-updates h2{
  margin-bottom:0.8 rem;
}

main .recent-updates tr{
  margin: 1.2rem;
}

main .recent-updates table{
  background: var(--color-light2);
  width: 100%;
  padding: 1.8rem;
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: none;
  transition: all 300ms ease;
}

main .recent-updates table:hover{
  box-shadow: var(--box-shadow);
}

th, td {
  padding: 10px;
}

.show{
  text-align: center;
  margin-top: 15px;
  display: block;
  font-size: medium;
}

.show2{
  text-align: center;
  margin-top: 10px;
  display: block;
  font-size: medium;
}

.details{
  font-size: medium;
}

/* RIGHT - TOP */
.right{
  margin-top: 1.6rem;
}

.profile-1{
  border-radius: 50%;
  max-width: 50%;
  max-height: auto;
}

.right .top{
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top button{
  display: none;
}

.right .top .profile{
  display: flex;
  gap: 2rem;
}

/* Upcoming Birthdays */

.right .upcoming-bday{
  margin-top: 2rem;
}

.right .upcoming-bday .h4{
  margin-bottom: 1rem;
}

.right .upcoming-bday .bdays{
  background: var(--color-light2);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: none;
  transition: all 300ms ease;
}

.right .upcoming-bday .bdays:hover{
  box-shadow: var(--box-shadow);
}

.right .upcoming-bday .profile2{
  display: flex;
  gap: 2rem;
}

.profile-2{
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.right .upcoming-bday .bdays .bday{
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1.3rem;
}

/* UPCOMING EVENTS */

.right .upcoming-event{
  margin-top: 2rem;
}

.right .upcoming-event h4{
  margin-bottom: 0.8rem;
}

.right .upcoming-event .info{
  background: var(--color-light2);
  /* display: flex; */
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: none;
  transition: all 300ms ease;
}

.right .upcoming-event .info:hover{
  box-shadow: var(--box-shadow);
}

.show3{
  text-align: center;
  margin-top: 10px;
  display: block;
  font-size: medium;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200xpx){
  #dashboard{
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }
  aside .sidebar h4{
    display: none;
  }
  aside .sidebar a {
    width: 5.6rem;
  }
  aside .sidebar a:last-child{
    position: relative;
    margin-top: 1.8rem;
  }

  main .insights{
    grid-template-columns: 1fr;
    gap: 0;
  }

  main .recent-updates{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .recent-updates table {
    width: 83vw;
  }

  main table thead tr th:last-child,
  main table thead tr th:first-child{
    display: none;
  }

  main table tbody tr th:last-child,
  main table tbody tr th:first-child{
    display: none;
  }
}

/* MEDIA QUERIES2 */

@media screen and (max-width: 768px) {
  #dashboard{
    width: 100%;
    grid-template-columns: 1fr;
  }
  
  aside{
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light2);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu{
    to{
        left: 0;
    }
  }


  aside .sidebar h4{
    display: inline;
  }

  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child{
    position: absolute;
    bottom: 5rem;
  }

  aside .close{
    display: inline-block;
    cursor: pointer;
  }
  
  main{
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .recent-updates{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .recent-updates table{
    width: 100%;
    margin: 0;
  }

  .right{
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem var(--color-light2);
  }

  .right .profile .info{
    display: none;
  }

  .right .top button{
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  
  .right .top button span{
    font-size: 2rem;
  }
}

/* -----------------------ADMIN-CITIZENS ----------------------- */


/* PWD */
main .person-with-disabilities{
  margin-top: 5rem;
  padding: 9px;
}

main .person-with-disabilities h2{
  margin-bottom: 0.8 rem;
}

main .person-with-disabilities tr{
  margin: 1.2rem;
}

main .person-with-disabilities table{
  background: var(--color-light2);
  width: 100%;
  padding: 1.8rem;
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: none;
  transition: all 300ms ease;
}

main .person-with-disabilities table:hover{
  box-shadow: var(--box-shadow);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200xpx){

  main .person-with-disabilities{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .person-with-disabilities table {
    width: 83vw;
  }

}

/* MEDIA QUERIES2 */

@media screen and (max-width: 768px) {

  main .person-with-disabilities{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .person-with-disabilities table{
    width: 100%;
    margin: 0;
  }
}

/* SENIOR CITIZEN */

main .senior-citizen{
  margin-top: 5rem;
  padding: 9px;
}

main .senior-citizen h2{
  margin-bottom: 0.8 rem;
}

main .senior-citizen tr{
  margin: 1.2rem;
}

main .senior-citizen table{
  background: var(--color-light2);
  width: 100%;
  padding: 1.8rem;
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: none;
  transition: all 300ms ease;
}

main .senior-citizen table:hover{
  box-shadow: var(--box-shadow);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200xpx){

  main .senior-citizen{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .senior-citizen table {
    width: 83vw;
  }

}

/* MEDIA QUERIES2 */

@media screen and (max-width: 768px) {

  main .senior-citizen{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .senior-citizen table{
    width: 100%;
    margin: 0;
  }
}

/* SINGLE PARENT */


main .single-parent{
  margin-top: 5rem;
  padding: 9px;
}

main .single-parent h2{
  margin-bottom: 0.8 rem;
}

main .single-parent tr{
  margin: 1.2rem;
}

main .single-parent table{
  background: var(--color-light2);
  width: 100%;
  padding: 1.8rem;
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: none;
  transition: all 300ms ease;
}

main .single-parent table:hover{
  box-shadow: var(--box-shadow);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200xpx){

  main .single-parent{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .single-parent table {
    width: 83vw;
  }

}

/* MEDIA QUERIES2 */

@media screen and (max-width: 768px) {

  main .single-parent{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .single-parent table{
    width: 100%;
    margin: 0;
  }
}

/* -----------------------ADMIN-REPORT ----------------------- */

/* REPORT */
main .report{
  margin-top: 5rem;
  padding: 9px;
}

main .report h2{
  margin-bottom: 0.8 rem;
}

main .report tr{
  margin: 1.2rem;
}

main .report table{
  background: var(--color-light2);
  width: 100%;
  padding: 1.8rem;
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: none;
  transition: all 300ms ease;
}

main .report table:hover{
  box-shadow: var(--box-shadow);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200xpx){

  main .report{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .report table {
    width: 83vw;
  }

}

/* MEDIA QUERIES2 */

@media screen and (max-width: 768px) {

  main .report{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .report table{
    width: 100%;
    margin: 0;
  }
}

/* -----------------------ADMIN-MESSAGES-INBOX ----------------------- */


/* INBOX */
main .inbox{
  margin-top: 5rem;
  padding: 9px;
}

main .inbox h4{
  margin-bottom: 1.4rem;
}

main .inbox tr{
  margin: 1.2rem;
}

main .inbox table{
  background: var(--color-light2);
  width: 100%;
  padding: 1.8rem;
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: none;
  transition: all 300ms ease;
}

main .inbox table:hover{
  box-shadow: var(--box-shadow);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200xpx){

  main .inbox{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .inbox table {
    width: 83vw;
  }

}

/* MEDIA QUERIES2 */

@media screen and (max-width: 768px) {

  main .inbox{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .inbox table{
    width: 100%;
    margin: 0;
  }
}

main .inboxes{
  display: flex;
}

main .inboxes a{
  margin-left: 760px;
}

/* DRAFTS */
main .drafts{
  margin-top: 5rem;
  padding: 9px;
}

main .drafts h4{
  margin-bottom: 1.4rem;
}

main .drafts tr{
  margin: 1.2rem;
}

main .drafts table{
  background: var(--color-light2);
  width: 100%;
  padding: 1.8rem;
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: none;
  transition: all 300ms ease;
}

main .drafts table:hover{
  box-shadow: var(--box-shadow);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200xpx){

  main .drafts{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .drafts table {
    width: 83vw;
  }

}

/* MEDIA QUERIES2 */

@media screen and (max-width: 768px) {

  main .drafts{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .drafts table{
    width: 100%;
    margin: 0;
  }
}

/* SENT */
main .sent{
  margin-top: 5rem;
  padding: 9px;
}

main .sent h4{
  margin-bottom: 1.4rem;
}

main .sent tr{
  margin: 1.2rem;
}

main .sent table{
  background: var(--color-light2);
  width: 100%;
  padding: 1.8rem;
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: none;
  transition: all 300ms ease;
}

main .sent table:hover{
  box-shadow: var(--box-shadow);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200xpx){

  main .sent{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .sent table {
    width: 83vw;
  }

}

/* MEDIA QUERIES2 */

@media screen and (max-width: 768px) {

  main .sent{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .sent table{
    width: 100%;
    margin: 0;
  }

input {
  margin: 5px;
  }
}